<app-header></app-header>

<div class="component">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h1 style="text-align: center; padding-top: 20px;">ABOUT US</h1>
    <img style="width: 30%; display: block; margin: auto;" src="/projet_starbuy/sources/logonoir.png" alt="">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style=" background-color: #ffffff; height: 30vw;padding-top: 3vw; border-radius: 20px;">
            STARTBUY is an online commercial platform founded in 2023, offering a wide range of products.
            Our main objective is to streamline the purchasing process by allowing our customers to select
            and buy products with a simple click. We are committed to providing you with a convenient and
            satisfying shopping experience.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style="background-color: #ffffff; height: 30vw; padding-top: 40px;  border-radius: 20px;">Naviguez sur

            Visit our user-friendly website and explore our extensive selection of products. Whether you're looking for
            clothing,
            home goods, or any other items, STARTBUY is here to provide you with a pleasant and efficient online
            shopping experience.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style=" background-color: #ffffff; height: 30vw; padding-top: 40px;  border-radius: 20px;">Chez STARTBUY,
            We prioritize your satisfaction above all else. We are available to address all your questions and take into
            consideration any potential issues you may have. Your opinion matters greatly to us, and we strive to
            provide
            you with quality customer service.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>