<app-header></app-header>

<div class="component">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h1 style="text-align: center; padding-top: 20px;">ABOUT US</h1>
    <img style="width: 30%; display: block; margin: auto;" src="/projet_starbuy/sources/logonoir.png" alt="">
    <div class="carousel-inner">

      <div class="carousel-item active" >
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style=" background-color: #ffffff; height: 30vw;padding-top: 3vw; border-radius: 20px;">
            STARTBUY est une plateforme commerciale en ligne fondée en 2023,
            offrant une large gamme de produits. Notre objectif principal est
            de faciliter le processus d'achat en permettant à nos clients de
            choisir et d'acheter des produits en un simple clic. Nous nous
            engageons à vous offrir une expérience d'achat pratique et satisfaisante.
          </p>
        </div>
      </div>
      <div class="carousel-item" >
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style="background-color: #ffffff; height: 30vw; padding-top: 40px;  border-radius: 20px;">Naviguez sur
            notre site
            web convivial et découvrez
            notre large sélection de
            produits. Que vous
            cherchiez des vêtements,
            des articles de maison ou
            tout autre article,
            STARTBUY est là pour vous
            fournir une expérience
            d'achat en ligne agréable
            et efficace..</p>
        </div>
      </div>
      <div class="carousel-item">
        <div style="height: 40vw;  width: 80%; display: block; margin: auto; border-radius: 30px;"></div>
        <div class="carousel-caption  d-md-block">
          <p style=" background-color: #ffffff; height: 30vw; padding-top: 40px;  border-radius: 20px;">Chez STARTBUY,
            nous
            valorisons votre
            satisfaction avant tout.
            Nous sommes disponibles
            pour répondre à toutes vos
            questions et prendre en
            compte vos éventuelles
            réclamations. Votre
            opinion compte
            énormément pour nous et
            nous nous efforçons de
            vous fournir un service
            clientèle de qualité.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>