<app-header></app-header>
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 style="color: rgb(0, 0, 0);" class="mb-0"><i class="fa fa-eye fa-lg"></i> View Product</h5>
                    </div>
                    <div class="card-body">
                        <div class="row" *ngFor="let product of filteredProducts">
                            <div class="col-lg-6 col-11 col-md-11 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">
                                    <img src="{{product.image}}" class="w-100" alt="Blue Jeans Jacket" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-11 col-md-11 mb-4 mb-lg-0" >
                                <!-- Data -->
                                <p><strong>{{product.title}}</strong></p>
                                <p><b>Category :</b> {{product.category}}</p>
                                <p><b> Description :</b> {{product.description}}</p>
                                <p><b>Rate : </b>{{product.rating.rate}}</p>
                                <p><b>Price : {{product.price}} TND</b></p>
                                <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                    title="Shop Product">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <!-- Data -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>