@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);



.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.deco-pad{
    padding: 10px;
}
.btn{
    background-color: #a52f33;
    color: white;
}
input{
    width: 80px;
	border-color: #0000001d;
	border-radius: 5px;

}
.head{
    text-transform: uppercase;
    font-weight: bold;
	padding: 10px;
}
.add{
    background-color: #e39c40;
    width: 70px;
}
.dropdown-toggle{
    border: none;
    border-radius: 3px;
}
.image{
	width: 10%;
}
.delete{
    background-color: #a52f33;
    color: white;
	width: 70px;
}
.update{
	background-color: #e39c40;
    color: rgb(0, 0, 0);
	width: 70px;
}

