/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css."  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 2px;
    margin:0;
    

}

.cursor{
    cursor: pointer;
}
