
/* component1 */
.component{
	padding-bottom: 50px;
}
/* .filtre{
    width: 17%;
    font-size: 1vw;
    border-radius: 20px;
    text-align: center;
    float: left;
    border-color: rgb(0, 0, 0) ;

}
.boutton-filtre{
    border: #00000036 1px solid;
border-radius: 3px;
margin: 10px;
width: 20%;
background-color: white;
}
.element-filtre{
    text-align:left;
    border: rgba(0, 0, 0, 0.45)  1px solid;
    border-radius: 20px;
	background-color: #ffffff;
	display: block;
   
}
#inferieur ,#superieur{
    width: 25%;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.45);
    overflow:hidden;
}
.filtre1{
    padding-bottom: 10px ;
    margin: 20px auto;
    border-bottom: 1px rgba(0, 0, 0, 0.228) solid;
}
.filtre1:last-child{
    border-bottom: none;
}




	.filtre{
		width: 100%;
		font-size: large;
		border-bottom: 2px #a52f32 solid;

	}
.element_filtre{
	display: block;
}

 }

 .card{
	margin: auto;
	display: block;
} 

p{
    font-size: 0.9rem;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.divider_line{
	border-bottom: 1px rgba(0, 0, 0, 0.228) solid;
	width: 100%;
	display: inline-block;
  font-size: 22px;
}
@media(max-width: 991px) { 
    navbar-toggler{
        display: none;
    }
    .boutton-filtre{
        display: none;
    }}
    
 .card{
	margin: auto;
	display: block;
} 
.deco-pad{
    padding: 10px;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 2rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    overflow: hidden;
}





.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
    
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}
.part-2{
    background-color: #00000008;
    width: 100%;
    margin: auto;
    min-height: 200px;
}
.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;

}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
    
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
    
}